<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="/static/css/blog.css" />
    <link rel="stylesheet" href="/static/css/typo.css" />
    <link rel="stylesheet" href="/static/lib/prism/prism.css" />
    <title>Details page</title>
  </head>
  <body>
    <!-- nav-->
    <nav class="ui inverted segment nav-menu-padding">
      <div class="ui center aligned container container-width">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui inverted header first item">Project1 For W4111</h2>
          <a href="/index" class="m-item item item-size m-mobile-hide"
            ><i class="home icon"></i>Front page</a
          >
          <a href="/release" class="m-item item item-size m-mobile-hide"
            ><i class="idea icon"></i>Release</a
          >
        </div>
      </div>
      <a
        href="#"
        class="ui black button m-right-top m-mobile-show"
        id="menu_button"
      >
        <i class="sidebar icon"></i>
      </a>
    </nav>

    <div
      class="m-blog-container"
    >
      <div class="ui container container-width-category">
        <div class="ui stackable grid">
            <div class="ui top attached segment">
              <div class="ui stackable grid">
                <div class="seven wide column m-mobile-middle">
                  <div class="ui horizontal link list">
                    <div class="item">
                      <img
                        src= "{{ blog.avatar}}"
                        width = 500px;
                        alt=""
                        class="ui avatar image"
                      />
                      <div class="content">
                        <a href="" class="header">{{ blog.username }}</a>
                      </div>
                    </div>
                    <div class="item">
                      <i class="calendar icon"></i> <span>{{ blog.updatetime }}</span>
                    </div>
                  </div>
                </div>

                <div class="nine wide column right aligned m-mobile-middle">
                    {% for topic in topics %}
                  <span class="ui label m-text-weight-500 {{ topic.topiccolor }}">{{topic.topicname}}</span>
                    {% endfor %}
                </div>

              </div>
            </div>
            <div class="ui attached segment">
              <span class="ui large ribbon label {{ blog.typecolor }}">{{ blog.typename }}</span>
              <h2 class="ui center aligned header">{{ blog.title }}</h2>
              <div id="content" class="typo typo-selection m-padding-lr-large">
                  {{ blog.content }}
              </div>
            </div>
        {% if blog.share%}
            <div class="ui attached positive segment" >
              <div class="ui stackable middle aligned grid">
                <div class="eleven wide column">
                  <ui class="list">
                    <li>Author:<span>{{ blog.username }}</span></li>
                    <li>Date: <span>{{ blog.updatetime }}</span></li>
                  </ui>
                </div>
              </div>
            </div>
        {% endif %}
            {% if blog.commentable %}
            <div class="ui bottom attached segment">
              <div id="comment-container" class="ui blue segment">
                <div>
                  <div class="ui threaded comments" style="max-width: 100%">
                  <h3 class="ui dividing header">Comments</h3>
                      {% for comment in comments %}
                  <div class="comment">
                    <a class="avatar">
                      <img src="{{ comment.avatar }}"/>
                    </a>
                    <div class="content">
                      <a class="author">
                        <span>{{ comment.username }}</span>
                      </a>
                      <div class="metadata">
                        <span class="date">{{ comment.createtime }}</span>
                          <form method="post" action="/appreciation/comment">
                              <input type="hidden" name="commentcid" value="{{ comment.cid }}">
                              <input type="hidden" name="commentbid" value="{{ comment.bid }}">
                              <button class="ui button circular"><i class="heart icon"></i></button>
                              <span> {{ comment.appreciations }}</span>
                          </form>

                      </div>
                      <div class="text">{{ comment.content }}</div>
                      <div class="actions">
                        <a class="reply" onclick="reply(this)" data-commentid={{ comment.cid }} data-commentusername="{{ comment.username }}" data-rootcomment={{comment.rootcomment}} style="color:red">Reply</a>
                      </div>
                    </div>
                      {% if comment.replys | length > 0%}
                    <div class="comments">
                    {% for reply in comment.replys%}
                      <div class="comment">
                        <a class="avatar">
                          <img src="{{ reply.avatar }}"/>
                        </a>
                        <div class="content">
                          <a class="author">
                            <span >{{ reply.username }}</span>
                          </a>
                          <div class="metadata">
                            <span class="date" >{{ reply.createtime}}</span>
                              <form method="post" action="/appreciation/reply">
                              <input type="hidden" name="replycid" value="{{ reply.cid }}">
                              <input type="hidden" name="replybid" value="{{ reply.bid }}">
                              <button class="ui button circular"><i class="heart icon"></i></button>
                              <span> {{ reply.appreciations }}</span>
                          </form>
                          </div>
                          <div class="text">
                            {{ reply.content }}
                          </div>
                          <div class="actions">
                            <a class="reply" onclick="reply(this)" style="color:red" data-commentid={{reply.cid}} data-commentusername={{reply.username}} data-rootcomment={{reply.rootcomment}} >Reply</a>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                          {% endif %}
                  </div>
                      {% endfor %}
                </div>
                </div>
              </div>
              <form id="comment-form" class="ui form" method="post" action="/comment">
                <input type="hidden" name="bid" value="{{blog.bid}}">
                <input type="hidden" name="parentcomment" value='-1'>
                  <input type="hidden" name="rootcomment" value="-1">
                <div class="field">
                  <textarea
                    name="content"
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Please input your comment"
                  ></textarea>
                </div>
                <div class="fields">
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="icon user"></i>
                      <input type="text" name="username" placeholder="Name" value={{ session.username }}/>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="icon mail"></i>
                      <input type="text" name="email" placeholder="Email" value = {{ session.email }}/>
                    </div>
                  </div>
                  <div class="field m-right m-mobile-submit m-mobile-wide">
                    <button id="comment-btn" class="ui blue button m-mobile-wide">
                      <i class="icon edit"></i>Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
        </div>
      </div>
    </div>

    <script src="/static/js/jQuery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="/static/lib/prism/prism.js"></script>

    <script>

      $("#menu_button").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
      });


      $(".ui.form").form({
        fields:{
          content:{
            identifier:"content",
            rules:[{
              type:"empty",
              prompt:"Please input your comment"
            }]
          },
          nickname:{
            identifier:"nickname",
            rules:[{
              type:"empty",
              prompt:"Please input your nickname"
            }]
          },
          email:{
            identifier:"email",
            rules:[{
              type:"email",
              prompt:"Please input your email"
            }]
          },
        }
      })


      $("#comment-btn").click(function(){
        var verification = $(".ui.form").form("validate form");
        if(verification){
          console.log("Verify successfully");
          postData();
        }else{
          console.log("Verification failed");
        }
      })

      function reply(obj){
          $("[name='content']").val('');
          var cid = $(obj).data("commentid");
          var commentusername = $(obj).data("commentusername");
          var rootcomment = $(obj).data("rootcomment");
          $("[name = 'content']").attr("placeholder","@"+commentusername).focus();
          $("[name = 'parentcomment']").val(cid);
          $("[name = 'rootcomment']").val(rootcomment);
          $(window).scrollTo($("#comment-form"),300);
      }



      $(".ui.dropdown").dropdown()
    </script>
  </body>
</html>
